<section class="main__container container">
  <div class="main__header-top">
    <h1 class="main__header">Daily Task List </h1>
    <button class="main__header-btn">
      <span class="icon-add"></span>
    </button>
  </div>
  <div class="main__add-block">
    <img src="../images/svg/tomato_settings.svg" alt="">
  </div>
  <div class="message message--middle-width">
    As you visited our site for a first time you can check
    and customize your default application settings
  </div>
  <div class="main__nav-holder">
    <a href="#" class="btn btn--blue" id="firstTaskNavigate" >Skip</a>
    <button class="btn btn--green" id="settingsNavigate">Go to Settings</button>
  </div>
</section>
