<header class="header">
  <div class="header__container container">
    <div class="logo"><a href="" class="logo__link"><img src="../images/svg/Logo.svg" alt=""> </a></div>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link" data-link="trash"> <span class="icon-trash"></span></a>
          <span class="nav__item-notification hidden"></span>
        </li>
        <li class="nav__item">
          <a href="task-list" class="nav__link" data-link="task-list"> <span class="icon-list"></span></a>
        </li>
        <li class="nav__item">
          <a href="report"  class="nav__link" data-link="report"> <span class="icon-statistics"></span></a>
        </li>
        <li class="nav__item">
          <a href="settings" class="nav__link" data-link="settings"> <span class="icon-settings "></span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>