<div class="notification notification--warning">
  <div class="notification__icon">
    <span class="icon icon-tomato-success"></span>
  </div>
  <div class="notification__text">Task was successfully created!</div>
  <button class="notification__btn">
    <span class="icon icon-close"></span>
  </button>
</div>