<div class="popup__item">
  <div class="popup__controls">
    <div class="popup__controls-right">
      <buttton class="form-btn"><span class="icon icon-close"></span></buttton>
    </div>
  </div>
  <h1 class="popup__header">Remove Task</h1>
  <div class="message">
    Are you sure you want to remove selected task(s)?
  </div>
  <div class="popup__footer">
    <button class="btn btn--blue" data-id="cancel-btn">Cancel</button>
    <button class="btn btn--red" data-id="remove-btn">Remove</button>
  </div>
</div>

