<section class="main__container container">
  <div class="main__header-top main__header-top--report">
    <h1 class="main__header">Report</h1>
  </div>
  <div class="main__header-bottom">
    <nav class="tabs tabs--report">
      <ul class="tabs__nav" id="tabs-calendar">
        <li class="tabs__item tabs-calendar__item"><a href="#" data-target="day" class="tabs__link ">Day</a></li>
        <li class="tabs__item tabs-calendar__item"><a href="#" data-target="week" class="tabs__link">Week</a></li>
        <li class="tabs__item tabs-calendar__item"><a href="#" data-target="month" class="tabs__link">Month</a></li>
      </ul>
    </nav>
  </div>
  <div class="main__graph-holder">
  </div>
  <div class="main__nav-holder main__nav-holder--margin">
    <nav class="tabs ">
      <ul class="tabs__nav" id="tabs-task">
        <li class="tabs__item tabs-task__item"><a href="#" data-target="pomodoros" class="tabs__link">Pomodoros</a></li>
        <li class="tabs__item tabs-task__item"><a href="#" data-target="tasks" class="tabs__link ">Tasks</a></li>
      </ul>
    </nav>
  </div>
</section>
<div class="arrow-control arrow-control--prev">
  <span class="icon icon-arrow-left"></span>
</div>